<div class="container-fluid">
  <div class="row pt-3">
    <div class="col text-center mt-4">
      <h2>フォロワー</h2>
    </div>
    <table class='table mb-0'>
      <thead>
        <tr>
          <th>Image</th>
          <th>name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @user.each do |user| %>
          <tr>
            <td>
              <%= link_to admin_user_path(user.id) do %>
                <div class="d-flex align-items-center justify-content-center">
                  <%= image_tag user.get_profile_image(50,50), style: "border-radius: 50%; width: 50px; height: 50px; object-fit:cover;" %>
                </div>
              <% end %>
            </td>
            <td>
              <%= link_to admin_user_path(user.id), class:"text-dark" do %>
                <div class="d-flex align-items-center justify-content-center">
                  <%= user.name %>
                </div>
              <% end %>
            </td>
            <td>
              <%= link_to follows_admin_user_path(user.id), class:"text-dark" do %>
                <div class="d-flex align-items-center justify-content-center">フォロー中<%= user.followers.count %></div>
              <% end %>
            </td>
            <td>  
              <%= link_to followers_admin_user_path(user.id), class:"text-dark" do %>
                <div class="d-flex align-items-center justify-content-center">フォロワー<%= user.followeds.count %></div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>