<div class="container-fluid">
  <div class="row py-3">
    <div class="col text-center mt-4">
      <h2>ユーザー一覧</h2>
    </div>
  </div>
</div>

<% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.get_profile_image(100,100) %></td>
    <td><%= user.name %></td>
    <td><%= link_to "Show", user %></td>
    <td>フォロー<%= user.followers.count %></td>
    <td>フォロワー<%= user.followeds.count %></td>
    <td><%= render "public/relationships/follow_btn", user: current_user %></td>
  </tr>
<% end %>