<div class="container-fluid">
  <div class="row pt-3">
    <div class="col text-center my-4">
      <% if @user == current_user %>
        <h2>マイページ</h2>
      <% end %>
    </div>
  </div>
  <div class="row row-cols-2 justify-content-center py-5">
    <div class="col-3 d-inline-flex m-4">
      <h3><%= @user.name %></h3>
      <%= image_tag @user.get_profile_image(250,250), class: "rounded-circle" %>
    </div>
    <% if @user.email != "guest@example.com" && @user == current_user %>
      <div class="col-3 m-4">
        <p><%= link_to "登録内容変更", edit_user_path(@user) %></p>
        <p><%= link_to "退会する", user_path(current_user.id), method: :delete, "data-confirm" => "本当に退会しますか？" %></p>
      </div>
    <% end %>
  </div>
  
  <%= render 'public/posts/list', posts: @posts %>
  
