<!DOCTYPE html>
<html>
  <head>
    <title>Admin - wanwan_spot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to "わんわんスポット管理者", admin_dashbords_path, class: "nav-link text-dark" %>
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_admin_session_path, class: "nav-link text-dark", method: :delete %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div>
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>